@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-collors: #302F3D;
    --body-collor: #22212C;
    --font-font: 'Merriweather Sans', 'sans-serif';    
    --collor-font: #837E9F;
}

body{
    background-color: var(--body-collor);
    font-size: 62.5%;

}

#root{
    display: grid;
    grid-template-columns: 1fr 4fr;

    grid-template-areas: "COL1 COL2";
                        
    /* gap: 2rem; */
}

.date{
    margin: 1rem 1rem 1rem;
    grid-area: COL1;
}

.projects{
    grid-area: COL2;
    margin: 0 auto;
}


.MyProjects :nth-child(1){
    margin-right: 1.5rem;
}

p{
    font-family: var(--font-font);
}


